.align-center {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    width: auto
    }
.author {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-family: serif-ja, serif;
    font-size: 0.75em;
    height: auto;
    margin-bottom: 0.9em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    padding-bottom: 0.4em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.bold {
    display: block;
    font-family: serif-ja, serif;
    font-size: 1.125em;
    font-weight: bold;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.book-title-after {
    display: block;
    font-family: sans-serif-ja, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.book-title-main {
    display: block;
    font-family: sans-serif-ja, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre6 {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.calibre7 {
    background: transparent;
    color: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: overline
    }
.calibre8 {
    display: block;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.calibre9 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre10 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    display: list-item
    }
.copyright {
    display: block;
    font-size: 0.75em;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.em-sesame {
    -webkit-text-emphasis-style: filled sesame
    }
.fit {
    background: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: inline-block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-inside: avoid;
    vertical-align: baseline;
    width: auto
    }
.font-110per {
    font-size: 1.125em
    }
.font-130per {
    font-size: 1.41667em
    }
.font-150per {
    display: block;
    font-size: 1.41667em;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.h-indent-2em {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2em;
    text-indent: -2em;
    width: auto
    }
.hltr {
    -webkit-writing-mode: horizontal-tb;
    font-family: serif-ja, serif
    }
.label {
    display: block;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.label-name {
    display: block;
    font-family: sans-serif-jp, sans-serif;
    font-size: 0.75em;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.line-break-loose {
    -epub-line-break: loose;
    -webkit-line-break: loose;
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.line-break-loose1 {
    -epub-line-break: loose;
    -epub-word-break: break-all;
    -webkit-line-break: loose;
    -webkit-word-break: break-all
    }
.main {
    display: block
    }
.main1 {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.main2 {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.main3 {
    display: block;
    height: auto;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    text-align: left;
    text-indent: 0;
    width: auto
    }
.original-books {
    display: block;
    font-size: 0.75em;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.original-title {
    display: block;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: inherit;
    width: auto
    }
.p-caution {
    -epub-hyphens: auto;
    -epub-line-break: normal;
    -epub-text-underline-position: under left;
    -epub-word-break: normal;
    -webkit-hyphens: auto;
    -webkit-line-break: normal;
    -webkit-text-underline-position: under left;
    -webkit-word-break: normal;
    background: transparent;
    display: block;
    font-size: 0.75em;
    letter-spacing: normal;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: normal;
    word-wrap: break-word
    }
.p-toc {
    -epub-hyphens: auto;
    -epub-line-break: normal;
    -epub-text-underline-position: under left;
    -epub-word-break: normal;
    -webkit-hyphens: auto;
    -webkit-line-break: normal;
    -webkit-text-underline-position: under left;
    -webkit-word-break: normal;
    background: transparent;
    display: block;
    font-size: 1em;
    letter-spacing: normal;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: normal;
    word-wrap: break-word
    }
.release-date {
    display: block;
    font-size: 0.75em;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.release-version {
    display: block;
    font-size: 0.75em;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.support {
    display: block;
    font-size: 0.75em;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: auto
    }
.tcy {
    -webkit-text-combine: horizontal;
    -webkit-text-combine-upright: all;
    text-combine-upright: all
    }
.vrtl {
    -webkit-writing-mode: vertical-rl;
    font-family: serif-ja, serif
    }
.pcalibre:link {
    color: #00f
    }
.pcalibre1:visited {
    color: #00f
    }
.pcalibre3:focus {
    color: #00f
    }
.pcalibre2:hover {
    color: #00f
    }
.pcalibre4:active {
    color: #00f
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }


    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html{background-color: antiquewhite;}

body {
    background-color: rgb(250, 233, 210);
    margin: 5rem 25rem;
    padding: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 40px;
    }

h2 {
    font-family: 'Yu Mincho','Merriweather' !important;
    font-size: 24px !important;
    text-align: center;
    font-weight: bold !important;
    padding-top: 5rem !important;
    margin-bottom: -3rem !important;
   }

p {
    font-family: 'Yu Mincho','Merriweather';
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px !important;
  }

img {
    width: 100% !important;
    height: auto !important;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px, rgba(0, 0, 0, 0.48) 0px 1px 2px;
    }

svg {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px, rgba(0, 0, 0, 0.48) 0px 1px 2px;
    margin-bottom: 2rem !important;
    }

@media screen and (max-width: 1400px){
      body {
        margin: 2rem 15rem;
      }
  }
    
@media screen and (max-width: 1200px){
      body {
        margin: 2rem 10rem;
      }
  }

@media screen and (max-width: 1024px){
      body {
        margin: 2rem 0;
      }
  }

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
      body {
        margin: 2rem 0;
      }
    }
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
      body {
        margin: 2rem 0;
      }
    }
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
      body {
        margin: 2rem 0;
      }
    }
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
      body {
        margin: 2rem 0;
      }
    }