@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #1c1c1c !important;
    margin: 5rem 25rem;
    padding: 5rem;
}

.item p{
    font-family: 'Yu Mincho';
    font-size: 17px;
    padding: 20px 15px 0 15px;
    height: 90px;
    /* truncate text */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item span {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #6d83f2;
    padding: 5px;
    border-radius: 7px 7px 0 0;
    border-bottom: none;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
  
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .item p {
        font-size: 0.7rem;
        padding: 0.6rem 0.7rem 0 0.7rem;
        height: 3.6rem;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .item p {
        font-size: 0.7rem;
        padding: 0.6rem 0.5rem 0 0.5rem;
        height: 3.7rem;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .item p {
        font-size: 0.7rem;
        padding: 0.6rem 0.5rem 0 0.5rem;
        height: 3.7rem;
    }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    .item p {
        font-size: 0.7rem;
        padding: 0.6rem 0.5rem 0 0.5rem;
        height: 3.7rem;
    }
}

.img-holder {
    overflow: hidden;
  }


img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

img:hover {
    position: relative;
    transition: all 0.3s ease-out;
    transform: scale(1.08) rotate(3deg);
}

.pad {
    padding-top: 2rem;
}

.item {
    background-color: #2c2c2c;
    color: azure;
    border-radius: 20px;
    text-align: center;
    border-bottom: 7px solid #6d83f2 !important;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.32);
    transition: all 0.3s ease-out;
    transform: translateZ(0);
    overflow:hidden;
    height: auto;
}

.item:hover {
    transform: translate3d(0px, -0.5rem, 0px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    cursor: pointer;
}