@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #1c1c1c !important;
}

.container {
  margin: 5rem 25rem;
  padding: 5rem;
}

.item {
  background-color: #2c2c2c;
  color: azure;
  border-radius: 20px;
  text-align: center;
  border-bottom: 7px solid #6d83f2 !important;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-out;
  transform: translateZ(0);
  overflow: hidden;
  height: auto;
}

.item:hover {
  transform: translate3d(0px, -0.5rem, 0px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.item img:hover {
  position: relative;
  transition: all 0.3s ease-out;
  transform: scale(1.08);
}

.item p {
  font-family: "Yu Mincho";
  font-size: 17px;
  padding: 20px 15px 0 15px;
  height: 90px;
  /* truncate text */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item span {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #6d83f2;
  padding: 5px 5px 10px 5px;
  border-radius: 7px 7px 0 0;
  border-bottom: none;
}

@media screen and (max-width: 1550px) {
  .section {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.8rem !important;
  }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .item p {
    font-size: 0.7rem;
    padding: 0.6rem 0.7rem 0 0.7rem;
    height: 3.6rem;
  }

  .edge {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  blockquote {
    padding: 0 1.4rem;
  }

  .section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.8rem !important;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .item p {
    font-size: 0.7rem;
    padding: 0.6rem 0.7rem 0 0.7rem;
    height: 3.6rem;
  }

  .edge {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  blockquote {
    padding: 0 1.4rem;
  }

  blockquote p {
    font-size: 1.4rem !important;
  }

  blockquote cite {
    font-size: 0.9rem !important;
  }

  .section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.8rem !important;
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .item p {
    font-size: 0.7rem;
    padding: 0.6rem 0.5rem 0 0.5rem;
    height: 2.5rem;
    /* truncate text */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item span {
    font-size: 0.5rem;
  }

  .edge {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  blockquote {
    padding: 0 1.4rem;
  }

  blockquote p {
    font-size: 1.4rem !important;
  }

  blockquote cite {
    font-size: 0.9rem !important;
  }

  .section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.7rem !important;
  }

  .head-title h1 {
    font-size: 1.9rem !important;
  }

  .head-title p {
    font-size: 0.85rem !important;
  }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
  .item p {
    font-size: 0.6rem;
    padding: 0.6rem 0.5rem 0 0.5rem;
    height: 2.5rem;
    /* truncate text */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item span {
    font-size: 0.4rem;
  }

  .edge {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  blockquote {
    padding: 0 1.4rem;
  }

  blockquote p {
    font-size: 1.4rem !important;
  }

  blockquote cite {
    font-size: 0.9rem !important;
  }

  .section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.7rem !important;
  }

  .head-title h1 {
    font-size: 1.5rem !important;
  }

  .head-title p {
    font-size: 0.7em !important;
  }
}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
  .item p {
    font-size: 0.6rem;
    padding: 0.6rem 0.5rem 0 0.5rem;
    height: 2.5rem;
    /* truncate text */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .item span {
    font-size: 0.4rem;
  }

  .edge {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  blockquote {
    padding: 0 1.4rem;
  }

  blockquote p {
    font-size: 1.4rem !important;
  }

  blockquote cite {
    font-size: 0.9rem !important;
  }

  .section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .circle_lists {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
  }

  .circle_lists .c_list {
    width: 75% !important;
  }

  .circle_lists .c_list .lavel_name {
    font-size: 0.7rem !important;
  }

  .head-title h1 {
    font-size: 1rem !important;
  }

  .head-title p {
    font-size: 0.5em !important;
  }
}

.img-holder {
  overflow: hidden;
}

.pad {
  padding-top: 2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2c2c2c;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: antiquewhite;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d83f2;
}

.headimg img {
  width: 100%;
  height: auto;
}

blockquote {
  text-align: center;
  color: rgba(250, 200, 130, 0.6);
  margin-top: 5rem !important;
  margin-bottom: -5rem !important;
}

blockquote p {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

blockquote cite {
  font-family: "Poppins";
  font-size: 1.1rem;
}

/* - Circle Lists
------------------------------------------------------- */
.section {
  padding: 15rem 25rem 0 25rem;
}

.head-title {
  text-align: center;
  color: rgba(250, 200, 130, 0.6);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.head-title h1 {
  font-family: "Lexend", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  border-bottom: 1px solid rgba(250, 200, 130, 0.6);
  line-height: 0.1em;
}

.head-title h1 span {
  background: #1c1c1c;
  padding: 0 10px;
}

.head-title p {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

li {
  list-style: none;
  display: inline;
  transition: all 0.3s ease-out;
  transform: translateZ(0);
  overflow: hidden;
}

li:hover {
  transform: translate3d(0px, -0.5rem, 0px);
}

.circle_lists {
  padding: 3rem 5.333%;
  margin-bottom: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 100%;
  margin: auto;
  justify-items: center;
  background-color: #2c2c2c;
  border-radius: 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 960px) {
  .circle_lists {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.circle_lists .c_list {
  width: 80%;
  text-align: center;
  margin: 0 2.6% 8%;
  position: relative;
}

.circle_lists .c_list a {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.circle_lists .c_list .logo_wrap {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: aliceblue;
}

.circle_lists .c_list .logo_wrap .lavel_logo {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_1 {
  /* 富士見ファンタジア文庫 */
  width: 65%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_2 {
  /* 電撃文庫 */
  width: 55%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_3 {
  /* MF文庫J */
  width: 50%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_4 {
  /* ファミ通文庫 */
  width: 66%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_5 {
  /* 角川スニーカー文庫 */
  width: 42%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_6 {
  /* NOVEL 0 */
  width: 60%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_7 {
  /* 講談社ラノベ文庫 */
  width: 70%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_9 {
  /* ガガガ文庫 */
  width: 75%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_10 {
  /* オーバーラップ文庫 */
  width: 77%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_11 {
  /* ＧＡ文庫 */
  width: 70%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_14 {
  /* モンスター文庫 */
  width: 60%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_15 {
  /* ＨＪ文庫 */
  width: 63%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_18 {
  /* ドラゴンノベルス */
  width: 62%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_19 {
  /* カドカワBOOKS */
  width: 75%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_20 {
  /* MFブックス */
  width: 80%;
  left: 52%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_21 {
  /* 電撃の新文芸 */
  width: 74%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_22 {
  /* KADOKAWAの新文芸 */
  width: 60%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_23 {
  /* ビーズログ文庫 */
  width: 60%;
  left: 52%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_24 {
  /* ビーズログ文庫アリス */
  width: 46%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_25 {
  /* 角川ビーンズ文庫 */
  width: 70%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_26 {
  /* HJノベルス */
  width: 65%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_28 {
  /* Mノベルス */
  width: 60%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_29 {
  /* Mノベルスf */
  width: 75%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_30 {
  /* Ｋラノベブックス */
  width: 56%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_31 {
  /* Ｋラノベブックスｆ */
  width: 60%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_32 {
  /* オーバーラップノベルス */
  width: 60%;
  left: 56%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_33 {
  /* オーバーラップノベルスf */
  width: 60%;
  left: 54%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_34 {
  /* ダッシュエックス文庫 */
  width: 52%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_35 {
  /* TOブックス */
  width: 80%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_36 {
  /* GAノベル */
  width: 56%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_37 {
  /* DREノベルス */
  width: 56%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_38 {
  /* サーガフォレスト */
  width: 65%;
  left: 52%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_16 {
  /* ブレイブ文庫 */
  width: 53%;
  right: 52%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_39 {
  /* アース・スターノベル */
  width: 60%;
  left: 51%;
}

.circle_lists .c_list .logo_wrap .lavel_logo.lg_40 {
  /* アース・スタールナ */
  width: 60%;
  left: 53%;
}

.circle_lists .c_list .lavel_name {
  font-family: "Yu Mincho";
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: bold;
  margin-top: 4%;
  color: aliceblue;
}

[class*="lg_"] .lazy {
  width: 100%;
  height: auto;
}

/* li div.logo_wrap:hover {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


